<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>test</servlet-name>
  	<display-name>test</display-name>
  	<description></description>
  	<servlet-class>grewal.servlet.test</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>view_student</servlet-name>
  	<display-name>view_student</display-name>
  	<description></description>
  	<servlet-class>grewal.servlet.view_student</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>student</servlet-name>
  	<display-name>student</display-name>
  	<description></description>
  	<servlet-class>grewal.servlet.student</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Students</servlet-name>
  	<display-name>Students</display-name>
  	<description></description>
  	<servlet-class>grewal.servlet.Students</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Courses</servlet-name>
  	<display-name>Courses</display-name>
  	<description></description>
  	<servlet-class>grewal.servlet.Courses</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Transports</servlet-name>
  	<display-name>Transports</display-name>
  	<description></description>
  	<servlet-class>grewal.servlet.Transports</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Assigned</servlet-name>
  	<display-name>Assigned</display-name>
  	<description></description>
  	<servlet-class>grewal.servlet.Assigned</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Fee_arrearsed</servlet-name>
  	<display-name>Fee_arrearsed</display-name>
  	<description></description>
  	<servlet-class>grewal.servlet.Fee_arrearsed</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Fee_payments</servlet-name>
  	<display-name>Fee_payments</display-name>
  	<description></description>
  	<servlet-class>grewal.servlet.Fee_payments</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Fee_costs</servlet-name>
  	<display-name>Fee_costs</display-name>
  	<description></description>
  	<servlet-class>grewal.servlet.Fee_costs</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Receipts</servlet-name>
  	<display-name>Receipts</display-name>
  	<description></description>
  	<servlet-class>grewal.servlet.Receipts</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssignCourse</servlet-name>
  	<display-name>AssignCourse</display-name>
  	<description></description>
  	<servlet-class>grewal.servlet.AssignCourse</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssignTransport</servlet-name>
  	<display-name>AssignTransport</display-name>
  	<description></description>
  	<servlet-class>grewal.servlet.AssignTransport</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>test_1</servlet-name>
  	<display-name>test_1</display-name>
  	<description></description>
  	<servlet-class>grewal.servlet.test_1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>test_2</servlet-name>
  	<display-name>test_2</display-name>
  	<description></description>
  	<servlet-class>grewal.servlet.test_2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogin</servlet-name>
  	<display-name>AdminLogin</display-name>
  	<description></description>
  	<servlet-class>grewal.servlet.AdminLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AccountantLogin</servlet-name>
  	<display-name>AccountantLogin</display-name>
  	<description></description>
  	<servlet-class>grewal.servlet.AccountantLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminS</servlet-name>
  	<display-name>AdminS</display-name>
  	<description></description>
  	<servlet-class>grewal.servlet.AdminS</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminSS</servlet-name>
  	<display-name>AdminSS</display-name>
  	<description></description>
  	<servlet-class>grewal.servlet.AdminSS</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>sampleLogin</servlet-name>
  	<display-name>sampleLogin</display-name>
  	<description></description>
  	<servlet-class>grewal.servlet.sampleLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>sampleLogout</servlet-name>
  	<display-name>sampleLogout</display-name>
  	<description></description>
  	<servlet-class>grewal.servlet.sampleLogout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>adminLogout</servlet-name>
  	<display-name>adminLogout</display-name>
  	<description></description>
  	<servlet-class>grewal.servlet.adminLogout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SavePdf</servlet-name>
  	<display-name>SavePdf</display-name>
  	<description></description>
  	<servlet-class>grewal.servlet.SavePdf</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MoreFunction</servlet-name>
  	<display-name>MoreFunction</display-name>
  	<description></description>
  	<servlet-class>grewal.servlet.MoreFunction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentLogin</servlet-name>
  	<display-name>StudentLogin</display-name>
  	<description></description>
  	<servlet-class>grewal.servlet.StudentLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Receiptt</servlet-name>
  	<display-name>Receiptt</display-name>
  	<description></description>
  	<servlet-class>grewal.servlet.Receiptt</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderCreation</servlet-name>
  	<display-name>OrderCreation</display-name>
  	<description></description>
  	<servlet-class>grewal.servlet.OrderCreation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>pay_</servlet-name>
  	<display-name>pay_</display-name>
  	<description></description>
  	<servlet-class>grewal.servlet.pay_</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PaymentSave</servlet-name>
  	<display-name>PaymentSave</display-name>
  	<description></description>
  	<servlet-class>grewal.servlet.PaymentSave</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Recptt</servlet-name>
  	<display-name>Recptt</display-name>
  	<description></description>
  	<servlet-class>grewal.servlet.Recptt</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>test</servlet-name>
  	<url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>view_student</servlet-name>
  	<url-pattern>/view_student</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>student</servlet-name>
  	<url-pattern>/student</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Students</servlet-name>
  	<url-pattern>/Students</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Courses</servlet-name>
  	<url-pattern>/Courses</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Transports</servlet-name>
  	<url-pattern>/Transports</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Assigned</servlet-name>
  	<url-pattern>/Assigned</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Fee_arrearsed</servlet-name>
  	<url-pattern>/Fee_arrearsed</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Fee_payments</servlet-name>
  	<url-pattern>/Fee_payments</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Fee_costs</servlet-name>
  	<url-pattern>/Fee_costs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Receipts</servlet-name>
  	<url-pattern>/Receipts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignCourse</servlet-name>
  	<url-pattern>/AssignCourse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignTransport</servlet-name>
  	<url-pattern>/AssignTransport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>test_1</servlet-name>
  	<url-pattern>/test_1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>test_2</servlet-name>
  	<url-pattern>/test_2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogin</servlet-name>
  	<url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AccountantLogin</servlet-name>
  	<url-pattern>/AccountantLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminS</servlet-name>
  	<url-pattern>/AdminS</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminSS</servlet-name>
  	<url-pattern>/AdminSS</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>sampleLogin</servlet-name>
  	<url-pattern>/sampleLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>sampleLogout</servlet-name>
  	<url-pattern>/sampleLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>adminLogout</servlet-name>
  	<url-pattern>/adminLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SavePdf</servlet-name>
  	<url-pattern>/SavePdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MoreFunction</servlet-name>
  	<url-pattern>/MoreFunction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentLogin</servlet-name>
  	<url-pattern>/StudentLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Receiptt</servlet-name>
  	<url-pattern>/Receiptt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderCreation</servlet-name>
  	<url-pattern>/OrderCreation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>pay_</servlet-name>
  	<url-pattern>/pay_</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PaymentSave</servlet-name>
  	<url-pattern>/PaymentSave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Recptt</servlet-name>
  	<url-pattern>/Recptt</url-pattern>
  </servlet-mapping>
</web-app>
